/* =====header===== */
@media only screen and (max-width: 1000px)
{
    .firstsection{
        height: 100%;
    }

    .leftNav{
        flex-direction: column;
    }

    .navbar{
        height: 300px;
        transition: all 0.5s ease-in;
        flex-direction: column;
    }

    .rightNav{
        visibility: none;
        display: none;
        text-align: center;
        flex-direction: column;
    }

    #search{
        width: 100%;
    }

    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 50px;
    }

    .v-class-resp{
        opacity: 0;
    }

    .leftNav li{
        padding: 10px 05px;
    }

    .btn-resume{
        font-size: 15px;
        padding: 8px 7px;
    }

    /* =====Sections===== */
    .box-main{
        flex-direction: column-reverse;
        padding-top: 31px;
        max-width: 100%;
        height: 100%;
        margin-top: 31px;
    }

    .education{
        align-items: center;
        flex-direction: column;
    }

    .box{
        margin: 10px 4px;
        padding: 11px;
        height: 100%;
        width: 80%;
    }

    .firsthalf{
        width: 100%;
    }

    .section{
        height: fit-content;
        flex-direction: column-reverse;
    }

    .text-big{
        text-align: center;
        font-size: 2rem;
    }

    .title{
        text-align: left;
    }

    .imgFluid{
        width: 150px;
        border-radius: 25px;
    }

    .paras{
        padding: 0px;
        text-align: justify;
    }

    .text-small{
        text-align: justify;
    }

    .secondhalf img{
        
        width: 150%;
    }

    .contact{
        padding-top: 31px
    }

    /* =====CONNECT WITH US===== */
    .IMGconnect{
        flex-direction: column;
    }
    
    .IMGconnect a{
        width: 100%;
        padding: 6px 0;
    }

    .IMAGES{
        width: 17%;
    }
}
